@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilizador> SignInManager
@inject UserManager<Utilizador> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/tema/d.png" class="imgNav"/>
                    MyAirBnb
                </a>
                <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-custom" asp-area="" asp-controller="Imovel" asp-action="Index">Imoveis</a>
                            </li>
                        }
                        else
                        {
                            @if (User.IsInRole("Cliente"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Imovel" asp-action="Index">Imóveis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Reserva" asp-action="Index">As Minhas Reservas</a>
                                </li>
                            }
                            @if (User.IsInRole("Funcionario"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Imovel" asp-action="Index">Imoveis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Reserva" asp-action="Index">Reservas</a>
                                </li>
                            }
                            @if (User.IsInRole("Gestor"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="Identity" asp-page="/Account/Manage/Portfolio">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Funcionario" asp-action="Index">Funcionários</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Imovel" asp-action="Index">Imoveis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Gestor" asp-action="Index">Gestores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-custom" asp-area="" asp-controller="Tipo_Imovel" asp-action="Index">Categorias de Imóveis</a>
                                </li>
                            }

                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MyAirbnb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a asp-area="" asp-controller="Home" asp-action="Sobre">Sobre</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
