@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Resetada com Sucesso";
}

<h1>@ViewData["Title"]</h1>
<p>
    Password mudada com sucesso! Por favor <a asp-page="./Login">click aqui para efetuar logIn</a>.
</p>
