@{
    ViewData["Title"] = "Home Page";
}

<div class="back">
    <div class="home_content">
        <div class="home_text_large">descobre</div>
        <div class="home_text_small">NOVOS DESTINOS</div>
    </div>
</div>